body
 {
	color:red;
	background-color:black;
}

a {
	color:red;
}

body
{
	background-image:src=(`https://www.pngjoy.com/pngm/564/29537251_blood-splatter-png-transparent-background.png`)
}